/ {
    macros {
        stutter_step: stutter_step {
            label = "Stutter Step";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &kp T
                &macro_wait_time 25
                &mkp LCLK
                &macro_wait_time 400
                &mkp RCLK
            >;
        };
    };
};
